.body{
    width: 1600px;
height: 996px;
flex-shrink: 0;
background: var(--base-white, #FFF);
}
.heading{
    width: 616px;
    color: var(--gray-900, #18181B);
text-align: center;

font-style: "Plus Jakarta Sans";
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 114.286% */
}
.text{
    width: 521px;
    color: var(--gray-600, #52525B);
text-align: center;

/* PJ/Regular/18px */
font-style: "Plus Jakarta Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */

}
.icon{
    width: 44px;
height: 44px;
flex-shrink: 0;
color:"gray/300";
align-items: center;
}
.sub-heading{
    width: 315px;
    color: var(--gray-900, #18181B);
text-align: center;

/* PJ/Bold/21px */
font-style: "Plus Jakarta Sans";
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 133.333% */
color:"gray/900";
}
.vl1 {
    border-left: 1px solid gray/200;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 10;
    width: 1px;
height: 400px;
background: #E4E4E7;
flex-shrink: 0;
  }
  .vl2 {
    border-left: 1px solid gray/200;
  height: 300px;
  position: absolute;
  left: 64%;
  margin-right: -20px;
  top: 155px;
  width: 1px;
  height: 400px;
  background: #E4E4E7;
  }
  hr.solid {
    border-top: 1px solid gray/200;
    width: 1160px;
height: 1px;
align-items: center;
  }